body {
  padding-top: 60px;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

.footer, .push {
  clear: both;
}

footer.primary {
  background-color: #000;
  height: 40px;
}

footer.primary p {
  color: rgb(153, 153, 153);
  text-align: center;
  line-height: 40px;
}

.sidebar {
  position: fixed;
  height: 100%;
  right: 0px;
}

section.project {
  margin-bottom: 100px;
}

.label {
  font-size: 1em;
}

aside.tech {
  margin: 15px 0 15px 0;
}

.flex-direction-nav .flex-prev {
  text-indent: -9999px;
  background: url("/img/bg_direction_nav.png") 0 0;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
}

.flex-direction-nav .flex-next {
 text-indent: -9999px;
  background: url("/img/bg_direction_nav.png") -30px 0;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  text-align: left;
}